<nav class="nav bg-light flex-column position-fixed">
    <div class="sidebar">
        <a href="#"><img class="logo" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="logo"></a>
        <a href="#" class="link-dark nav-link"><span class="material-symbols-outlined">
            insert_chart
            </span>Dashboard</a>
        <a href="#" class="link-dark nav-link"><span class="material-symbols-outlined">
            forum
            </span>Question</a>
        <a href="#" class="link-success nav-link"><span class="material-symbols-outlined">
            assignment
            </span>Assignment</a>
        <a href="#" class="link-dark nav-link"><span class="material-symbols-outlined">
            video_library
            </span>Course</a>
        <a href="#" class="link-dark nav-link"><span class="material-symbols-outlined">
            group
            </span>Admin</a>
        <a href="#" class="link-dark nav-link"><span class="material-symbols-outlined">
            settings
            </span>Settings</a>
    </div>
    <div class="profile d-flex">
        <a><img class="profile-pic" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="Andy"></a>
        <div class="profile-info">
            <p class="name text-dark">Andy Chen</p>
            <p class="mail text-secondary">andy0401@mail.com</p>
        </div>
    </div>
</nav>