.nav{
  min-width: 296px;
  min-height: 100vh;
  justify-content: space-between;
  .logo{
    padding: 40px 32px;
  }
  .nav-link{
    padding-left:32px;
    position:relative;
  }
  .nav-link:hover{
    color:#198754;
  }
  .nav-link:active::before{
    content:"";
    position:absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
  }
  .profile{
    padding: 32px;
  }
  .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 24px;
    object-fit: cover;
    margin-right: 16px;
  }
  .name{
    font-size: 16px;
    margin-bottom: 0px;
  }
  .mail{
    font-size: 14px;
  }
  .border{
    color:#CED4DA;
  }
}